
        <div class="text-center my-5">
            <!-- Por defecto no existe, pero si la dejo en vacio me salta error, puedo agregar una clase ligh-theme pero no tendria por defecto y tendria que copiar y pegar lo de ligh theme -->
            <button class="btn btn-success mx-5" (click)="cambiarTema('por-defecto')">Cambiar a Light</button> 
            <button class="btn btn-dark" (click)="cambiarTema('dark-theme')">Cambiar a Dark</button>
    
    
        </div>
<div [ngClass]="[temaDeFondo]">
    <router-outlet></router-outlet>
</div>
